@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');
*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*---- navbar--*/

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

a:hover {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover {
    color: #24da0c;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

.sports {
    background-image: url('./sports.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}


/*---- end of navbar--*/

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 28px;
}

.set-radius-zero {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.content-wrapper {
    margin-top: 40px;
    min-height: 800px;
    padding-bottom: 90px;
}

.header-line {
    font-weight: 900px;
    padding-bottom: 25px;
    border-bottom: 1px solid #eeee;
    text-transform: uppercase;
}

.pad-botm {
    padding-bottom: 30px;
}

.backg {
    background-image: linear-gradient(145deg, #f836ce, rgb(223, 136, 250));
}


/*responisve*/

@media only screen and (max-width:768px) {
    .nav-menu {
        display: flex;
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #df1111;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:first-child {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:last-child {
        transform: translateY(-8px) rotate(-45deg);
    }
}


/*-------service layout grid-----------------------*/

a {
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8125rem;
    letter-spacing: 1px;
}

p {
    font-size: 1.975rem;
    margin: 1rem 0;
    line-height: 1.5;
}

section .savice {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #333;
    font-size: 3.825rem;
    margin: 1.3rem 0;
    text-align: center;
}

.section-lead {
    max-width: 600px;
    margin: 1rem auto 1.5rem;
}

.service a {
    color: #5b7abb;
    display: block;
}

.service h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #56ceba;
    font-size: 1.3rem;
    margin: 1rem 0 0.6rem;
}

.services-grid {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.service {
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    -webkit-box-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #e7e7e7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
    color: #42b7ca;
}

.service1:hover {
    border: 2px solid #42b7ca;
}

.service2 i,
.service2 h4,
.service2 .cta {
    color: #425fca;
}

.service2:hover {
    border: 2px solid #425fca;
}

.service3 i,
.service3 h4,
.service3 .cta {
    color: #9c42ca;
}

.service3:hover {
    border: 2px solid #9c42ca;
}

.service .cta span {
    font-size: 0.6rem;
}

.service>* {
    flex: 1 1 100%;
}

.service .cta {
    align-self: flex-end;
}

@media all and (max-width:900px) {
    .services-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}


/*---------About us----------------------------------*/

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.container {
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}


/*------------------footer-----------------------*/

.footer-basic {
    padding: 40px 0;
    background-color: #474e5d;
    color: #fff;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}